{% extends 'base.html.twig' %}

{% block title %}Cnae index{% endblock %}

{% block body %}
    <h1>Cnae index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cnae in cnaes %}
            <tr>
                <td>{{ cnae.id }}</td>
                <td>{{ cnae.name }}</td>
                <td>{{ cnae.code }}</td>
                <td>
                    <a href="{{ path('app_cnae_show', {'id': cnae.id}) }}" class="btn btn-info">Mostrar</a>
                    <a href="{{ path('app_cnae_edit', {'id': cnae.id}) }}" class="btn btn-warning">Alterar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cnae_new') }}" class="btn btn-primary">Novo</a>
{% endblock %}
