{% extends 'base.html.twig' %}

{% block title %}Segment index{% endblock %}

{% block body %}
    <h1>Segment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for segment in segments %}
            <tr>
                <td>{{ segment.id }}</td>
                <td>{{ segment.name }}</td>
                <td>{{ segment.code }}</td>
                <td>
                    <a href="{{ path('app_segment_show', {'id': segment.id}) }}" class="btn btn-info">Mostrar</a>
                    <a href="{{ path('app_segment_edit', {'id': segment.id}) }}" class="btn btn-warning">Alterar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_segment_new') }}" class="btn btn-primary">Novo</a>
{% endblock %}
