{% extends 'base.html.twig' %}

{% block title %}CorporateType index{% endblock %}

{% block body %}
    <h1>CorporateType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for corporate_type in corporate_types %}
            <tr>
                <td>{{ corporate_type.id }}</td>
                <td>{{ corporate_type.name }}</td>
                <td>{{ corporate_type.code }}</td>
                <td>
                    <a href="{{ path('app_corporate_type_show', {'id': corporate_type.id}) }}" class="btn btn-info">Mostrar</a>
                    <a href="{{ path('app_corporate_type_edit', {'id': corporate_type.id}) }}" class="btn btn-warning">Alterar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_corporate_type_new') }}" class="btn btn-primary">Novo</a>
{% endblock %}
